.modalShedules {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    background-color: #494e5b;
    border-radius: 12px;
}

.findPauseCard {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: #24262c9c;
    padding: 8% 5% 5% 5%;
    margin: 5% 5% 5% 5%;
}

.titleHours {
    position: absolute;
    top: -13%;
    background-color: #3c73d2;
    border-radius: 12px;
    padding: 2%;
    color: white;
    font-weight: 600;
}

.barberView {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #cdcdcd;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    margin: 1% 0 1% 0
}

.barberView p {
    color: white;
    margin: 5px;
}

.modalShedules .findPauseCard {
    margin: 0%;
}


@media screen and (max-width: 900px) {
    .bodySchedules {
        flex-direction: column;
        width: 100%;
        margin-bottom: 0%;
    }
   
    .cardShedules{
        margin-top: 20%;
        width: 100%;
    }

    .viewSchedules {
        width: 100%;
    }
    .modalShedules {
        width: 90%;
    }
    .buttonGroupSchedules {
        display: flex;
        flex-direction: column;
    }
   
}