.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 85%;
  background-color: #24262c9c;
  border-radius: 12px;
  min-height: 50vh;
}

.cardCreateBody {
  display: flex;
  justify-content: space-between;
}

.modalCard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background-color: #494e5b;
  box-shadow: 24;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.titleCardCreateBody {
  top: -5%;
  background-color: #3c73d2;
  border-radius: 12px;
  position: absolute;
  font-size: 1.4rem;
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: center;
  padding: 8px 30px 8px 30px;
}

.cardInput {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #24262c9c;
  border-radius: 12px;
  width: 50%;
}

.inputTexts {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputTexts p {
  color: #eaeaea;
}

.viewCard {
  display: flex;
  justify-content: center;
  background-color: #24262c9c;
  width: 40%;
  padding: 2% 0 2% 0;
  border-radius: 12px;
}

.buttonAccept {
  background-color: white;
  margin-top: 2%;
  padding: 10px;
  color: #3c73d2;
  font-weight: 600;
  border-radius: 12px;
  width: 20%;
  align-self: flex-end;
}

.buttonAcceptMob,
.buttonAccept:hover {
  background-color: rgb(182, 182, 182);
}

.buttonAcceptMob {
  display: none;
}

@media screen and (max-width: 900px) {
  .card {
    width: 100%;
  }

  .modalCard {
    margin-top: 16%;
    width: 100%;
    height: 88vh;
    display: flex;
    align-items: center;
  }

  .cardCreateBody {
    display: flex;
    width: 90%;
    flex-direction: column;
    overflow: auto;
  }

  .cardInput {
    width: 100%;
    min-height: 60vh;
  }

  .buttonAccept {
    display: none;
  }

  .cardInput {
    margin-top: 10%;
  }

  .viewCard {
    width: 100%;
    margin-top: 10%;
    padding-top: 8%;
    padding-bottom: 8%;
  }

  .buttonAcceptMob {
    display: block;
    background-color: white;
    margin: 8% 0% 8% 0%;
    padding: 10px;
    color: #3c73d2;
    font-weight: 600;
    border-radius: 12px;
    width: 100%;
    align-self: center;
  }
}
